@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin:0px;
	background-color:white;
}


/* 隱形modal */
#cover 
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:5;
	background:rgba(51,51,51,0.4);	
	top:0px;
	left:0px;
	overflow:auto;
}
#coverr
{
	width:70%;
	min-width:300px;
	max-width:800px;
	height:70%;
	min-height:300px;
	position:absolute;
	z-index:5;
	background:#ffffff;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	overflow:auto;
}

a{
	text-decoration:none;
}

#main
{
	height:100vh;
    width:100vw;
	margin:0 ;
	position:relative;
}
.ti /* 頁首 */
{
	width:100%;
	height:100px;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-color: rgb(74, 126, 161);
}

/* 左半部 */

.dbor {  /* 左列選單 */
	width:100%;
	height:700px;
	position:relative;
	padding:5px;
	display:block;
	margin-top: 5px;
	background-color:rgb(230, 230, 230);
}

.menuLine { /* 選單標題隔線 */
	border-bottom:#333 1px solid;
	padding:20px;
}

.menu-style{
	color:#000; 
	font-size:13px; 
	text-decoration:none;
}

.mainmu {  /* 每一個選單列 */
	position:relative;
	line-height:35px;
	padding:0px 0px 0px 20px;
	margin:20px 0px;
	font-size:medium;	
	/* border:1px #333 solid; */
}
.mainmu:hover
{
	background-color: rgb(255, 253, 183);
	padding:0px 0px 0px 20px;
	margin:20px 0px;
}

.logOutBtn{
	width:90%;
	height:85px;
	display:block;
	font-size:large;
}

.mw{
	/* 用於js */
	display:none;
	position:absolute;
	width:80%;
	z-index:99;
	left:150px;
	top:20px;
}

#lf{
	width:20%;  /* 左側選單寬度 */
	display:inline-block;
}
/* 左半部end */


/* 右半部 */
.content
{
	display:inline-block;
	height:700px;
	border:#999 1px solid;
	width:77.5%;
	margin:5px 0px 0px 20px;
	position:relative;
}

.t {  /* 管理頁標題字 */
	font-weight:800;
	display:block;
	text-align:center;
	padding:20px 0;
}

.yel td /* 後台各分頁欄位 */
{
	background:#b2d7e6;
	text-align:center;
	padding:10px;
}

.cent
{
	text-align:center;
}

.trce td
{
	text-align:center;
}

input,button
{
	border:rgb(140, 148, 153) 1px solid;
	border-radius:3px;
	background:#EFEFEF;
	padding:5px;
	margin:3px;
}
input:active,button:active
{
	background:#f0f8d1;
}
input[type=text],input[type=password]
{
	width:150px;
}




.footer{
	width:100%; 
	position:fixed;
	background:rgb(200, 211, 214); 
	height:80px; 
	display:block;
	bottom: 0;
	/* 三個點的定位 */
	display:flex;
	justify-content:center;
	align-items:center;
}

.colorBtn{  /* 三個點(換版面配色) */
	width:30px;
	height:30px;
	border-radius:50%;
	display: inline-block;
	margin:5px;
  }


/* 後台 */
.backendTitle{
	letter-spacing:8px;
	font-family: 'Inter', sans-serif;
	color:white;
	padding: 30px 0 0 100px;
  }
  
  .backendTitle:hover{
	text-decoration-line:none;
  }
  
  .backendLogo{
	z-index:1;
	position:absolute;
  }
  

  
  
